/* ************************* */
/* Light theme */
/* ************************* */
/* Resset css */
html,
body {
  font-family: "Nunito", sans-serif;
  color: #404040;
  font-size: 1rem;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1200px;
}

:root {
  --text-color: #5a5a5a;
  --light-bg-color: #f7f9fc;
  --title-color: #2c3038;
  --bg-color: #fff;
  --card-curve: 6px;
  --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  --primary: #dc4f72;
}
.home {
  margin: 0 0 1.5em;
}
/* START HEADER  */

header.main-header {
  height: 90px;
  background-color: #fff;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease 0s;
}

header.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 70px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  justify-content: end;
}

header .nav-logo {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 700;
  color: #dc4f72;
  letter-spacing: -1px;
}

.navbar .nav-item {
  position: relative;
  padding: 0 15px;
}

.nav-link {
  color: #2c3038;
  transition: all 0.5s ease;
}

.navbar .navbar-nav .nav-link.active,
.dropdown-item.active {
  color: #dc4f72;
  background-color: #fff;
}

.icon-down::after {
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 15px;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: 12px;
  color: #2c3038;
}

.navbar .search-right {
  margin-right: 16px;
}

.search-right span.fa {
  color: #5a5a5a;
  background: #f7f9fc;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #eee;
  opacity: 0.7;
}

.search-right span.fa:hover {
  color: #2c3038;
  opacity: 1;
}

.theme-button {
  display: inline-block;
  padding: 0px 30px;
  text-transform: uppercase;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  transition: 0.5s ease-out;
}

.btn-outline-pink {
  color: #dc4f72;
  border-color: #dc4f72;
}

.theme-button:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
  transition: 0.5s all;
}

.dark-light {
  line-height: 10px;
}

.btn-dark-light {
  margin-left: 10px;
  border: none;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.btn:active {
  margin-left: 5px;
  border: none;
  border-color: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.25);
}

.btn-outline-pink:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}

.dropdown-item {
  position: relative;
}

.navbar-nav .nav-link:hover,
.dropdown-item:hover {
  color: #dc4f72;
}

a.nav-link:before,
a.dropdown-item:before {
  content: "";
  position: absolute;
  background: #dc4f72;
  width: 0px;
  height: 2px;
  bottom: 8px;
  transition: 0.5s all;
}

.navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 20px;
}

.dropdown-menu {
  transform: translateX(-50px);
  border: 1px solid #eee;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.navbar-nav .dropdown-menu:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #eee;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  top: -7px;
  left: 49%;
  z-index: 1001;
}

/* END HEADER  */

/* light dark switch */
#switchButton {
  background-color: white;
  font-size: 20px;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* light dark switch */

.hero {
  margin-top: 90px;
}

.content {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url("../img/banner.jpg");
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}

.hero h3 {
  color: #2c3038;
  font-size: 50px;
  line-height: 57px;
  font-weight: 700;
}

.hero p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}

/* END SECTION: HERO */

/* CSS WHY CHOOSE US */
.why__top h6 {
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.why__top h3 {
  color: #2c3038;
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1;
}

* {
  font-size: 16px;
  color: #5a5a5a;
  font-family: "Nunito", sans-serif;
}

/* CSS WHY CHOOSE US */
.why__top h6 {
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.why__top h3 {
  color: #2c3038;
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1;
}

.why__bottom .row .item {
  padding: 3rem 2rem;
  background-color: #f7f9fc;
  border-radius: 6px;
  border: 1px solid #f7f9fc;
  transition: 0.5s all;
  cursor: pointer;
}

.why__bottom .row .item:hover {
  transform: translateY(-8px);
  box-shadow: 1px 5px 7.5px rgba(0, 0, 0, 0.226);
}

.why__bottom .row .item h3 {
  color: #2c3038;
  font-size: 1.625rem;
  font-weight: 700;
}

/* START ABOUT OUR */
.about__out {
  background-color: #f7f9fc;
}

.about__out .about__left h6 {
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.about__out .about__left h3 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3038;
  font-weight: 700;
}

.about__out .btn {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 15px 35px;
  transition: 0.5s all;
  cursor: pointer;
}

.about__out .btn:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.about__out .about__left {
  padding-right: 30px;
}

.about__out .about__right {
  transition: 0.5s all;
  padding-left: 30px;
}

.about__out .about__right:hover {
  transform: translateY(-15px);
}

.about__number h6 {
  text-transform: capitalize;
  color: #2c3038;
  font-weight: 700;
}

.about__number h3 {
  font-size: 3.125rem;
  color: #dc4f72;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}

.about__number .number__item {
  box-shadow: 1px 5px 7.5px 0 rgba(0, 0, 0, 0.226);
  transition: 0.5s;
}

.about__number .number__item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.126);
}

/* START VISION */
.vision {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
    url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.vision h3 {
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 700;
}

.vision p {
  color: #eee;
}

.vision .btn {
  font-weight: 700;
  font-size: 0.875rem;
  padding: 15px 35px;
  transition: 0.5s all;
  cursor: pointer;
}

/* TESTIOMONIALS */
.testimonials {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.77)),
    url("../img/b2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header-section {
  max-width: 750px;
  margin: 0 auto;
}

.title-testimonials {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #dc4f72;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.header-section h2 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.owl-testimonials .slider-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 6px;
}

.owl-testimonials .avatar-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}

.message {
  position: relative;
}

.message span {
  font-size: 30px;
  color: #2c3038;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.owl-stage-oute {
  position: relative;
  overflow: hidden;
}

.name h4 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
}

.name p {
  color: #5a5a5a;
  font-size: 13px;
}

.owl-item {
  width: 575px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  padding: 0;
}

.owl-theme .owl-dots .owl-dot span {
  background: #fff;
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  display: block;
  border: none;
  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
}

.owl-stage {
  transform: translate3d(-1725px, 0px, 0px);
  transition: all 0.25s ease 0s;
  width: 4600px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #dc4f72;
}

/* END TESTIOMONIALS */

/* BOOK A DEMO */
.btn-pink {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
  transition: 0.5s all;
}

.btn-pink:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

/* END BOOK A DEMO */

/* FOOTER */
.section-footer .bg-footer {
  background: var(--light-bg-color);
}

.section-footer h3 {
  color: var(--title-color);
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 700;
}

.column li {
  display: block;
  margin: 10px 0;
}
.column li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}
.section-footer .end-column {
  padding: 2em;
  background-color: var(--bg-color);
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
}
.form-email h4 {
  font-size: 18px;
  line-height: 25px;
  color: var(--title-color);
  margin-bottom: 30px;
  font-weight: 500;
}
.section-footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.section-footer .subscribe input[type="email"] {
  background: var(--light-bg-color);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: var(--title-color);
  font-weight: 600;
  border-radius: var(--card-curve);
}

.section-footer .subscribe button {
  text-align: center;
  background: var(--primary);
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: var(--card-curve);
}

.section-footer p {
  line-height: 22px;
  color: var(--text-color);
  font-size: 16px;
}
/* .column li a:hover{
  color: var(--primary);
  transition: 0.3 ease;
} */
.section-footer ul.social li {
  display: inline-block;
  margin-right: 10px;
}

.section-footer .social li a {
  font-size: 15px;
  color: var(--title-color);
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.section-footer p a {
  color: var(--title-color);
}
.column li a:hover,
.social li a:hover,
.CopyRights a:hover {
  color: var(--primary);
  transition: 0.3 ease;
}
/* END FOOTER */
/* START GENERAL */

.general {
  background-color: #f7f9fc;
}

.general__img {
  position: relative;
}

.general__img img {
  position: sticky;
  top: 80px;
}

.general__top h6 {
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.general__top h3 {
  color: #2c3038;
  font-size: 2.875rem;
  font-weight: 700;
}

.general__img img {
  transition: 0.5s all;
}

.general__img img:hover {
  transform: translateY(-10px);
}

.general__faq .accordion-item {
  margin-bottom: 20px;
  overflow: hidden;
}

.general__faq .accordion-button {
  font-size: 1.25rem;
  cursor: pointer;
  color: #2c3038;
}

/* START PROJECT */

.complete__top h6 {
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.complete__top h3 {
  color: #2c3038;
  font-size: 2.875rem;
  font-weight: 700;
}

.complete__bottom .nav-pills .nav-link {
  color: #2c3038;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.375rem;
  padding: 15px 116px;
  border-radius: 0;
  border-bottom: 3px solid rgba(128, 128, 128, 0.477);
  background: #fff !important;
}

.complete__bottom .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #dc4f72;
  border-bottom-color: #dc4f72;
}

.complete__bottom .tab-content .tab-pane h3 {
  color: #2c3038;
  margin-bottom: 24px;
  font-size: 1.875rem;
  font-weight: 700;
}

.complete__bottom .btn {
  font-weight: 700;
  font-size: 0.875rem;
  padding: 15px 35px;
  transition: 0.5s all;
  cursor: pointer;
  color: #dc4f72;
  border-color: #dc4f72;
  transition: 0.5s all;
  margin-top: 24px;
}

.complete__bottom .btn:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.complete__bottom .tab-content .tab-pane img {
  transition: 0.5s all;
}
.complete__bottom .tab-content .tab-pane img:hover {
  transform: translateY(-10px);
}

/* ************************* */
/* Dark theme */
/* ************************* */
/* CSS WHY CHOOSE US */
.why__top h6 {
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.why__top h3 {
  color: #2c3038;
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1;
}

.why__bottom .row .item {
  padding: 3rem 2rem;
  background-color: #f7f9fc;
  border-radius: 6px;
  border: 1px solid #f7f9fc;
  transition: 0.5s all;
  cursor: pointer;
}

.why__bottom .row .item:hover {
  transform: translateY(-8px);
  box-shadow: 1px 5px 7.5px rgba(0, 0, 0, 0.226);
}

.why__bottom .row .item h3 {
  color: #2c3038;
  font-size: 1.625rem;
  font-weight: 700;
}

/* START ABOUT OUR */
.about__out {
  background-color: #f7f9fc;
}

.about__out .about__left h6 {
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.about__out .about__left h3 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3038;
  font-weight: 700;
}

.about__out .btn {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 15px 35px;
  transition: 0.5s all;
  cursor: pointer;
}

.about__out .btn:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.about__out .about__left {
  padding-right: 30px;
}

.about__out .about__right {
  transition: 0.5s all;
  padding-left: 30px;
}

.about__out .about__right:hover {
  transform: translateY(-15px);
}

.about__number h6 {
  text-transform: capitalize;
  color: #2c3038;
  font-weight: 700;
}

.about__number h3 {
  font-size: 3.125rem;
  color: #dc4f72;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}

.about__number .number__item {
  box-shadow: 1px 5px 7.5px 0 rgba(0, 0, 0, 0.226);
  transition: 0.5s;
}

.about__number .number__item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.126);
}

/* START VISION */
.vision {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
    url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.vision h3 {
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 700;
}

.vision p {
  color: #eee;
}

.vision .btn {
  font-weight: 700;
  font-size: 0.875rem;
  padding: 15px 35px;
  transition: 0.5s all;
  cursor: pointer;
}

/* BACK TO T·ªêP */
.backTotop i {
  color: #fff;
  font-size: 1.25rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(220, 79, 114, 0.619);
  border-radius: 5px;
}
.backTotop {
  position: fixed;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.backTotop:hover {
  background-color: #dc4f72;
  border-radius: 5px;
}
.backTotop.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* ************************* */
/* Dark theme */
/* ************************* */
